.style-manageProduct{
    display: none;
}
.btn-style{
    text-align: end;
}
.btn-style b{
    border: none;
    margin-left: 10px;
    background-color: none;
    font-size: 16px;
    cursor: pointer;
    color: rgb(34, 6, 98);
    background-color: rgb(6, 144, 156);
    padding: 5px 10px;
    border-radius: 10px;
}
.btn-style b:hover{
    color: #fff;
    background-color: black;
}