.home-style{
    display: grid;
}


@media (min-width: 767px) {
    .home-style{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}

@media (max-width: 767px) {
    .home-style{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}

@media (max-width: 575px) {
    .home-style{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}

@media (max-width: 480px) {
    .home-style{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }
}






