.home-info-style{
    /* width: 80%;
    margin: 0 auto; */
    padding: 10px;
}
.home-info-style img{
    max-width: 120px;
}

@media (max-width: 575px) {
    .home-info-style img{
        max-width: 40%;
    }
}

/* @media (max-width: 480px) {
    .home-info-style{
        max-width: 90%;
        margin: 0 auto;
    }
} */