.action-style button{
    border: none;
    border-radius: 10px;
    background-color: none;
    color: rgb(15, 184, 15);
}
.action-style button:hover{
    border: none;
    background-color: rgb(15, 184, 15);
    color: #fff;
}
.action-style .delete{
    border: none;
    background-color: none;
    color: red;
    margin-left: 2px;
}
.action-style .delete:hover{
    background-color: red;
    color: #fff;
    margin-left: 2px;
}